In [1]:
import pandas as pd
from pathlib import Path

raw_path = Path("../data/raw")
processed_path = Path("../data/processed")

processed_path.mkdir(exist_ok=True)

df = pd.read_excel(raw_path / "mortalite_2023_standardise_all.xlsx")
xls = pd.ExcelFile(raw_path / "mortalite_2023_standardise_all.xlsx")
xls.sheet_names

['Métadonnées', 'Données']

In [2]:
df = pd.read_excel(raw_path / "mortalite_2023_standardise_all.xlsx", sheet_name= "Données")
df.head()

,annee_de_deces,departement_de_domicile,sexe,cause_initiale_de_deces,indicateur,population_reference,valeur
0,2023,01,Hommes,1. Maladies infectieuses et parasitaires,Taux standardisé de mortalité par âge et sexe ...,France RP 2022,24.4
1,2023,02,Hommes,1. Maladies infectieuses et parasitaires,Taux standardisé de mortalité par âge et sexe ...,France RP 2022,30.0
2,2023,03,Hommes,1. Maladies infectieuses et parasitaires,Taux standardisé de mortalité par âge et sexe ...,France RP 2022,21.0
3,2023,04,Hommes,1. Maladies infectieuses et parasitaires,Taux standardisé de mortalité par âge et sexe ...,France RP 2022,17.5
4,2023,05,Hommes,1. Maladies infectieuses et parasitaires,Taux standardisé de mortalité par âge et sexe ...,France RP 2022,22.5

In [3]:
df.dtypes

annee_de_deces               int64
departement_de_domicile     object
sexe                        object
cause_initiale_de_deces     object
indicateur                  object
population_reference        object
valeur                     float64
dtype: object

In [4]:
df = df.drop(columns=["population_reference"])

In [5]:
df.columns = [
    "annee",
    "departement",
    "sexe",
    "cause",
    "indicateur",
    "valeur"
]

In [6]:
df["departement"].unique()[:10]

array(['01', '02', '03', '04', '05', '06', '07', '08', '09', '10'],
      dtype=object)

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5454 entries, 0 to 5453
Data columns (total 6 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   annee        5454 non-null   int64
 1   departement  5454 non-null   object
 2   sexe         5454 non-null   object
 3   cause        5454 non-null   object
 4   indicateur   5454 non-null   object
 5   valeur       5454 non-null   float64
dtypes: float64(1), int64(1), object(4)
memory usage: 255.8+ KB

In [8]:
df.head()

,annee,departement,sexe,cause,indicateur,valeur
0,2023,01,Hommes,1. Maladies infectieuses et parasitaires,Taux standardisé de mortalité par âge et sexe ...,24.4
1,2023,02,Hommes,1. Maladies infectieuses et parasitaires,Taux standardisé de mortalité par âge et sexe ...,30.0
2,2023,03,Hommes,1. Maladies infectieuses et parasitaires,Taux standardisé de mortalité par âge et sexe ...,21.0
3,2023,04,Hommes,1. Maladies infectieuses et parasitaires,Taux standardisé de mortalité par âge et sexe ...,17.5
4,2023,05,Hommes,1. Maladies infectieuses et parasitaires,Taux standardisé de mortalité par âge et sexe ...,22.5

In [9]:
df.to_csv(
    processed_path / "mortalite_2023_standardise_all.csv",
    index=False
)