In [1]:
import pandas as pd
from pathlib import Path

raw_path = Path("../data/raw")
processed_path = Path("../data/processed")

processed_path.mkdir(exist_ok=True)

df = pd.read_excel(raw_path / "mortalite_standardise_2010-2023.xlsx")
xls = pd.ExcelFile(raw_path / "mortalite_standardise_2010-2023.xlsx")
xls.sheet_names

['Métadonnées', 'Données']

In [2]:
df = pd.read_excel(raw_path / "mortalite_standardise_2010-2023.xlsx", sheet_name= "Données")
df.head()

,annee_de_deces,departement_de_domicile,sexe,cause_initiale_de_deces,indicateur,population_reference,valeur
0,2010,01,Hommes,1. Maladies infectieuses et parasitaires,Taux standardisé de mortalité par âge et sexe ...,France RP 2022,36.6
1,2011,01,Hommes,1. Maladies infectieuses et parasitaires,Taux standardisé de mortalité par âge et sexe ...,France RP 2022,23.8
2,2012,01,Hommes,1. Maladies infectieuses et parasitaires,Taux standardisé de mortalité par âge et sexe ...,France RP 2022,29.2
3,2013,01,Hommes,1. Maladies infectieuses et parasitaires,Taux standardisé de mortalité par âge et sexe ...,France RP 2022,25.4
4,2014,01,Hommes,1. Maladies infectieuses et parasitaires,Taux standardisé de mortalité par âge et sexe ...,France RP 2022,21.1

In [3]:
df = df.drop(columns=["population_reference"])

In [4]:
df.columns = [
    "annee",
    "departement",
    "sexe",
    "cause",
    "indicateur",
    "valeur"
]

In [5]:
df.head()

,annee,departement,sexe,cause,indicateur,valeur
0,2010,01,Hommes,1. Maladies infectieuses et parasitaires,Taux standardisé de mortalité par âge et sexe ...,36.6
1,2011,01,Hommes,1. Maladies infectieuses et parasitaires,Taux standardisé de mortalité par âge et sexe ...,23.8
2,2012,01,Hommes,1. Maladies infectieuses et parasitaires,Taux standardisé de mortalité par âge et sexe ...,29.2
3,2013,01,Hommes,1. Maladies infectieuses et parasitaires,Taux standardisé de mortalité par âge et sexe ...,25.4
4,2014,01,Hommes,1. Maladies infectieuses et parasitaires,Taux standardisé de mortalité par âge et sexe ...,21.1

In [6]:
df["cause"].unique()

array(['1. Maladies infectieuses et parasitaires',
       '3. Maladies du sang et des organes hématopoïétiques et certains troubles du système immunitaire',
       '4. Maladies endocriniennes, nutritionnelles et métaboliques',
       '5. Troubles mentaux et du comportement',
       '6. Maladies du système nerveux et des organes des sens',
       '7. Maladies de l’appareil circulatoire',
       '8. Maladies de l’appareil respiratoire',
       '9. Maladies de l’appareil digestif', '2. Tumeurs',
       '10. Maladies de la peau et du tissu cellulaire sous-cutané',
       '11. Maladies du système ostéo-articulaire, des muscles et du tissu conjonctif',
       '12. Maladies de l’appareil génito-urinaire',
       '13. Complications de grossesse, accouchement et puerpéralité',
       '14. Certaines affections dont l’origine se situe dans la période périnatale',
       '15. Malformations congénitales et anomalies chromosomiques',
       '16. Symptômes et états morbides mal définis',
       '17. Causes externes de morbidité et mortalité',
       '18. Covid-19 : U071-U072,U109,U129'], dtype=object)

In [7]:
df.dtypes

annee            int64
departement     object
sexe            object
cause           object
indicateur      object
valeur         float64
dtype: object

In [8]:
df.to_csv(
    processed_path / "mortalite_standardise_2010-2023.csv",
    index=False
)

In [10]:
df_cause = pd.read_excel(raw_path / "toutes_causes.xlsx", sheet_name= "Données")
df_cause.head()

,annee_de_deces,departement_de_domicile,sexe,cause_initiale_de_deces,indicateur,population_reference,valeur
0,2010,01,Tous sexes,Toutes causes,Taux standardisé de mortalité par âge et sexe ...,France RP 2022,1076.1
1,2011,01,Tous sexes,Toutes causes,Taux standardisé de mortalité par âge et sexe ...,France RP 2022,1007.6
2,2012,01,Tous sexes,Toutes causes,Taux standardisé de mortalité par âge et sexe ...,France RP 2022,1028.0
3,2013,01,Tous sexes,Toutes causes,Taux standardisé de mortalité par âge et sexe ...,France RP 2022,977.5
4,2014,01,Tous sexes,Toutes causes,Taux standardisé de mortalité par âge et sexe ...,France RP 2022,952.1

In [11]:
df_cause = df_cause.drop(columns=["population_reference"])

In [13]:
df_cause.columns = [
    "annee",
    "departement",
    "sexe",
    "cause",
    "indicateur",
    "valeur"
]

In [14]:
df_cause.head()

,annee,departement,sexe,cause,indicateur,valeur
0,2010,01,Tous sexes,Toutes causes,Taux standardisé de mortalité par âge et sexe ...,1076.1
1,2011,01,Tous sexes,Toutes causes,Taux standardisé de mortalité par âge et sexe ...,1007.6
2,2012,01,Tous sexes,Toutes causes,Taux standardisé de mortalité par âge et sexe ...,1028.0
3,2013,01,Tous sexes,Toutes causes,Taux standardisé de mortalité par âge et sexe ...,977.5
4,2014,01,Tous sexes,Toutes causes,Taux standardisé de mortalité par âge et sexe ...,952.1

In [15]:
df_cause.to_csv(
    processed_path / "toutes_causes.csv",
    index=False
)