
 # Diagnostic QPV Occitanie — Notebook reproductible

Ce notebook vise à :
- Identifier les besoins sociaux et territoriaux des QPV d’Occitanie
- Comprendre les déterminants sociaux associés (revenus, emploi, logement, démographie)
- Produire un diagnostic reproductible, lisible et actionnable
- Fournir des sorties exploitables pour les acteurs locaux (cartes, tableaux, fiches QPV)

Sources : INSEE (Filosofi 2021, RP 2020/2021, Logement 2020), DEFM 2022, ANCT (QPV).

In [2]:
import pandas as pd
import geopandas as gpd

print("Kernel OK !")

Kernel OK !

In [3]:
import os
print(os.path.exists("../data/geo/iris.geojson"))

True

In [4]:

# Définition des chemins
DATA_RAW = "../data/raw/"
DATA_GEO = "../data/geo/"

# -----------------------------
# 1. FICHIERS GEO
# -----------------------------

iris = gpd.read_file(DATA_GEO + "iris.geojson")

demo = gpd.read_file(
    DATA_GEO + "demographie-recensement-de-la-population-population-par-iris (1).geojson"
)

# Fichier QPV géographique (GEOJSON)
qpv_geo = gpd.read_file(DATA_GEO + "ListesQPV.geojson")

# -----------------------------
# 2. FICHIERS CSV (RAW)
# -----------------------------

# Revenus IRIS
revenus = pd.read_csv(DATA_RAW + "BASE_TD_FILO_IRIS_2021_DEC.csv", sep=";")

# Emploi / chômage
emploi = pd.read_csv(DATA_RAW + "data_DEFM2022_IRIS.csv", sep=";")

# Logement — avec correction des types pour éviter les warnings
logement = pd.read_csv(
    DATA_RAW + "base-ic-logement-2020.CSV",
    sep=";",
    dtype={
        "IRIS": "string",
        "COM": "string",
        "LAB_IRIS": "string"
    },
    low_memory=False
)

In [5]:
# -----------------------------------------
# 3. INSPECTION DES DONNÉES CHARGÉES
# -----------------------------------------

def inspect(df, name):
    print(f"\n===== {name} =====")
    print("Shape :", df.shape)
    print("Colonnes :", list(df.columns))
    display(df.head(3))

inspect(iris, "IRIS (géométries)")
inspect(demo, "Démographie IRIS")
inspect(qpv_geo, "QPV 2024 (géométries)")
inspect(revenus, "Revenus IRIS")
inspect(emploi, "Emploi / chômage IRIS")
inspect(logement, "Logement IRIS")

===== IRIS (géométries) =====
Shape : (5264, 10)
Colonnes : ['typ_iris', 'insee_com', 'code_iris', 'nom_iris', 'dep', 'geo_point_2d', 'id', 'iris', 'nom_com', 'geometry']

,typ_iris,insee_com,code_iris,nom_iris,dep,geo_point_2d,id,iris,nom_com,geometry
0,A,77294,772940102,Zone d'Activités,77,"[48.981798336729746, 2.6363695633300335]",IRIS____0000000772940102,0102,Mitry-Mory,"POLYGON ((2.64265 48.98913, 2.64332 48.988, 2...."
1,A,75101,751010205,Les Halles 5,75,"[48.862297570166575, 2.34534858519305]",IRIS____0000000751010205,0205,Paris 1er Arrondissement,"POLYGON ((2.34844 48.86238, 2.34775 48.86099, ..."
2,A,75101,751010303,Palais Royal 3,75,"[48.862970884171986, 2.335627404567633]",IRIS____0000000751010303,0303,Paris 1er Arrondissement,"POLYGON ((2.33914 48.86221, 2.33947 48.86213, ..."

===== Démographie IRIS =====
Shape : (596, 120)
Colonnes : ['actifs_15_64_ans_employes', 'code_insee', 'annee', 'grand_quartiers', 'pop_15_ans_ou_plus_non_scolarisee', 'pop_15_ans_ou_plus_artisans_comm_chefs_entr', 'pop_15_ans_ou_plus_non_scol_sans_diplome_et_bepc', 'men_fam_princ_couple_sans_enfant', 'residences_principales_3_pieces', 'comexcde', 'menage_femme_seule', 'actifs_15_64_ans', 'zoneexcde', 'objectid', 'label_iris', 'pop_18_24_ans', 'pop_15_ans_ou_plus_autres', 'logements', 'pop_80_ans_ou_plus', 'actifs_15_64_ans_cadres_prof_intel_sup', 'couple_sans_enfant', 'non_salaries_15_ans_ou_plus_aides_familiaux', 'menage', 'menages_avec_famille_s', 'non_salaries_15_ans_ou_plus_independants', 'chomeur_15_64_ans', 'fam_1_enfant_moins_25_ans', 'pop_40_54_ans', 'residences_secondaires_occasionnelles', 'maisons', 'autres_inactifs_15_64_ans', 'libelle_iris', 'triiris', 'uniteurbaine', 'salaries_15_ans_ou_plus_apprentissage_stage', 'salaries_15_ans_ou_plus_emplois_aides', 'pop_30_44_ans', 'eleve_etudiants_15_64_ans', 'pop_femme', 'pop_homme', 'residences_principales_1_piece', 'population_etrangere', 'population_des_15_64_ans', 'pop_6_10_ans', 'population_active_15_64_ans', 'actifs_15_64_ans_prof_intermediaires', 'pop_0_14_ans', 'salaries_15_ans_ou_plus_fonct_publ_cdi', 'pop_45_59_ans', 'type_iris', 'actifs_15_64_ans_agriculteurs_exploitants', 'departement', 'pop_0_2_ans', 'modif_iris', 'population', 'population_francaise', 'geo_point_2d', 'pop_15_ans_ou_plus_cadres_prof_intel_sup', 'pop_15_ans_ou_plus_non_scol_bac_bp', 'retraites_15_64_ans', 'pop_15_ans_ou_plus_ouvriers', 'pop_65_ans_ou_plus', 'pop_20_64_ans', 'familles', 'pop_15_29_ans', 'actifs_15_64_ans_ouvriers', 'residences_principales_2_voitures_et_plus', 'men_fam_princ_couple_avec_enfant', 'zonelib', 'pop_11_17_ans', 'salaries_15_ans_ou_plus_interim', 'fam_2_enfants_moins_25_ans', 'pop_65_79_ans', 'menage_homme_seul', 'menages_autres_sans_famille', 'logements_vacants', 'residences_principales_maison', 'pop_75_ans_ou_plus', 'residences_principales_appartement', 'pop_60_74_ans', 'population_hors_menage', 'couple_avec_enfants', 'pop_0_19_ans', 'pop_15_ans_ou_plus_employes', 'gml_id', 'iris', 'pop_15_ans_ou_plus_agriculteurs_exploitants', 'pop_3_5_ans', 'pop_15_ans_ou_plus_non_scol_enseignement_sup', 'non_salaries_15_ans_ou_plus_employeurs', 'residences_principales_4pieces', 'inactifs_15_64_ans', 'population_immigree', 'homme_des_15_64_ans', 'residences_principales_1_voiture', 'residences_principales_5_pieces_et_plus', 'menage_personne_seule', 'actifs_occupes_15_64_ans', 'actifs_15_64_ans_artisans_comm_chefs_entr', 'commune', 'shape_len', 'pop_55_64_ans', 'fam_3_enfants_moins_25_ans', 'appartements', 'pop_15_ans_ou_plus_prof_intermediaires', 'salaries_15_ans_ou_plus_cdd', 'residences_principales_parking_garage_box', 'residences_principales_2_pieces', 'shape_area', 'pop_15_ans_ou_plus_retraites', 'men_fam_monoparentale', 'pop_15_ans_ou_plus_non_scol_cap_bep', 'fam_4_enfants_ou_plus_moins_25_ans', 'residences_principales', 'fam_0_enfant_moins_25_ans', 'population_des_menages', 'familles_monoparentales', 'femme_15_64_ans', 'pop_25_39_ans', 'geometry']

,actifs_15_64_ans_employes,code_insee,annee,grand_quartiers,pop_15_ans_ou_plus_non_scolarisee,pop_15_ans_ou_plus_artisans_comm_chefs_entr,pop_15_ans_ou_plus_non_scol_sans_diplome_et_bepc,men_fam_princ_couple_sans_enfant,residences_principales_3_pieces,comexcde,...,men_fam_monoparentale,pop_15_ans_ou_plus_non_scol_cap_bep,fam_4_enfants_ou_plus_moins_25_ans,residences_principales,fam_0_enfant_moins_25_ans,population_des_menages,familles_monoparentales,femme_15_64_ans,pop_25_39_ans,geometry
0,487.0,86157,2012,8615700,2829.0,125.0,295.0,569.0,206.0,157.0,...,107.0,531.0,24.0,1688.0,593.0,3930.0,107.0,1376.0,645.0,"MULTIPOLYGON (((0.38953 46.54956, 0.38941 46.5..."
1,30.0,86194,2012,8619401,112.0,3.0,29.0,3.0,14.0,194.0,...,0.0,21.0,1.0,292.0,3.0,338.0,0.0,163.0,54.0,"MULTIPOLYGON (((0.33958 46.59255, 0.33963 46.5..."
2,506.0,86194,2012,8619404,2026.0,17.0,241.0,491.0,504.0,194.0,...,95.0,313.0,6.0,2817.0,517.0,4141.0,95.0,1792.0,645.0,"MULTIPOLYGON (((0.36999 46.57094, 0.36961 46.5..."

===== QPV 2024 (géométries) =====
Shape : (1362, 11)
Colonnes : ['fid', 'code_qp', 'lib_qp', 'insee_reg', 'lib_reg', 'insee_dep', 'lib_dep', 'insee_com', 'lib_com', 'siren_epci', 'geometry']

,fid,code_qp,lib_qp,insee_reg,lib_reg,insee_dep,lib_dep,insee_com,lib_com,siren_epci,geometry
0,1.0,QN00101M,Grande Reyssouze Terre Des Fleurs,84,Auvergne-Rhône-Alpes,01,Ain,01053,Bourg-en-Bresse,200071751,"MULTIPOLYGON (((872426.099 6570361, 872427.525..."
1,2.0,QN00102M,Croix Blanche,84,Auvergne-Rhône-Alpes,01,Ain,01053,Bourg-en-Bresse,200071751,"MULTIPOLYGON (((873155.263 6569611.674, 873151..."
2,3.0,QN00103M,Les Courbes De L'Albarine,84,Auvergne-Rhône-Alpes,01,Ain,01004,Ambérieu-en-Bugey,240100883,"MULTIPOLYGON (((882313.438 6542222.366, 882271..."

===== Revenus IRIS =====
Shape : (16026, 26)
Colonnes : ['IRIS', 'DEC_PIMP21', 'DEC_TP6021', 'DEC_INCERT21', 'DEC_Q121', 'DEC_MED21', 'DEC_Q321', 'DEC_EQ21', 'DEC_D121', 'DEC_D221', 'DEC_D321', 'DEC_D421', 'DEC_D621', 'DEC_D721', 'DEC_D821', 'DEC_D921', 'DEC_RD21', 'DEC_S80S2021', 'DEC_GI21', 'DEC_PACT21', 'DEC_PTSA21', 'DEC_PCHO21', 'DEC_PBEN21', 'DEC_PPEN21', 'DEC_PAUT21', 'DEC_NOTE21']

,IRIS,DEC_PIMP21,DEC_TP6021,DEC_INCERT21,DEC_Q121,DEC_MED21,DEC_Q321,DEC_EQ21,DEC_D121,DEC_D221,...,DEC_RD21,DEC_S80S2021,DEC_GI21,DEC_PACT21,DEC_PTSA21,DEC_PCHO21,DEC_PBEN21,DEC_PPEN21,DEC_PAUT21,DEC_NOTE21
0,010040101,"43,0","29,0",2,12610,19330,26390,"0,71",7760,11300,...,"4,4","6,3","0,318","69,3","62,5","3,2","3,6","27,1","3,6",0
1,010040102,"42,0","39,0",1,9730,16830,24620,"0,89",4680,8600,...,"7,1","9,0","0,362","70,5","63,7","4,4","2,4","25,6","3,9",0
2,010040201,"47,0","29,0",1,12220,19940,27650,"0,77",6500,10300,...,"5,7","8,0","0,352","69,3","61,9","3,6","3,8","26,7","4,0",0

===== Emploi / chômage IRIS =====
Shape : (16213, 54)
Colonnes : ['CODGEO', 'NOTE', 'ABCDE', 'ABCDE_H', 'ABCDE_F', 'ABC', 'ABC_H', 'ABC_F', 'A', 'A_H', 'A_F', 'ABC_25', 'ABC_25_H', 'ABC_25_F', 'ABC_2649', 'ABC_2649_H', 'ABC_2649_F', 'ABC_50', 'ABC_50_H', 'ABC_50_F', 'ABC_FR', 'ABC_E', 'ABC_INFCAPBEP', 'ABC_INFCAPBEP_H', 'ABC_INFCAPBEP_F', 'ABC_CAPBEP', 'ABC_CAPBEP_H', 'ABC_CAPBEP_F', 'ABC_BAC', 'ABC_BAC_H', 'ABC_BAC_F', 'ABC_SUPBAC', 'ABC_SUPBAC_H', 'ABC_SUPBAC_F', 'ABC_Dur1', 'ABC_Dur1_H', 'ABC_Dur1_F', 'ABC_Dur2', 'ABC_Dur2_H', 'ABC_Dur2_F', 'ABC_Dur3', 'ABC_Dur3_H', 'ABC_Dur3_F', 'ABC_Dur4', 'ABC_Dur4_H', 'ABC_Dur4_F', 'ABC_Ins1', 'ABC_Ins2', 'ABC_Ins3', 'ABC_Ins4', 'ABC_Ins5', 'ABC_RSA', 'ABC_RSA_H', 'ABC_RSA_F']

,CODGEO,NOTE,ABCDE,ABCDE_H,ABCDE_F,ABC,ABC_H,ABC_F,A,A_H,...,ABC_Dur4_H,ABC_Dur4_F,ABC_Ins1,ABC_Ins2,ABC_Ins3,ABC_Ins4,ABC_Ins5,ABC_RSA,ABC_RSA_H,ABC_RSA_F
0,010040101,0,244.0,127.0,117.0,198.0,98.0,100.0,131.0,64.0,...,12.0,24.0,14.0,18.0,24.0,14.0,128.0,38.0,18.0,20.0
1,010040102,0,511.0,225.0,286.0,468.0,211.0,257.0,254.0,108.0,...,39.0,49.0,11.0,48.0,61.0,60.0,288.0,106.0,47.0,59.0
2,010040201,0,495.0,217.0,278.0,450.0,196.0,254.0,240.0,108.0,...,41.0,59.0,16.0,55.0,61.0,44.0,274.0,103.0,44.0,59.0

===== Logement IRIS =====
Shape : (49273, 96)
Colonnes : ['IRIS', 'COM', 'TYP_IRIS', 'LAB_IRIS', 'P20_LOG', 'P20_RP', 'P20_RSECOCC', 'P20_LOGVAC', 'P20_MAISON', 'P20_APPART', 'P20_RP_1P', 'P20_RP_2P', 'P20_RP_3P', 'P20_RP_4P', 'P20_RP_5PP', 'P20_NBPI_RP', 'P20_RPMAISON', 'P20_NBPI_RPMAISON', 'P20_RPAPPART', 'P20_NBPI_RPAPPART', 'P20_RP_M30M2', 'P20_RP_3040M2', 'P20_RP_4060M2', 'P20_RP_6080M2', 'P20_RP_80100M2', 'P20_RP_100120M2', 'P20_RP_120M2P', 'P20_RP_ACHTOT', 'P20_RP_ACH19', 'P20_RP_ACH45', 'P20_RP_ACH70', 'P20_RP_ACH90', 'P20_RP_ACH05', 'P20_RP_ACH17', 'P20_RPMAISON_ACHTOT', 'P20_RPMAISON_ACH19', 'P20_RPMAISON_ACH45', 'P20_RPMAISON_ACH70', 'P20_RPMAISON_ACH90', 'P20_RPMAISON_ACH05', 'P20_RPMAISON_ACH17', 'P20_RPAPPART_ACHTOT', 'P20_RPAPPART_ACH19', 'P20_RPAPPART_ACH45', 'P20_RPAPPART_ACH70', 'P20_RPAPPART_ACH90', 'P20_RPAPPART_ACH05', 'P20_RPAPPART_ACH17', 'P20_MEN', 'P20_MEN_ANEM0002', 'P20_MEN_ANEM0204', 'P20_MEN_ANEM0509', 'P20_MEN_ANEM10P', 'P20_PMEN', 'P20_PMEN_ANEM0002', 'P20_PMEN_ANEM0204', 'P20_PMEN_ANEM0509', 'P20_PMEN_ANEM10P', 'P20_NBPI_RP_ANEM0002', 'P20_NBPI_RP_ANEM0204', 'P20_NBPI_RP_ANEM0509', 'P20_NBPI_RP_ANEM10P', 'P20_RP_PROP', 'P20_RP_LOC', 'P20_RP_LOCHLMV', 'P20_RP_GRAT', 'P20_NPER_RP', 'P20_NPER_RP_PROP', 'P20_NPER_RP_LOC', 'P20_NPER_RP_LOCHLMV', 'P20_NPER_RP_GRAT', 'P20_ANEM_RP', 'P20_ANEM_RP_PROP', 'P20_ANEM_RP_LOC', 'P20_ANEM_RP_LOCHLMV', 'P20_ANEM_RP_GRAT', 'P20_RP_SDB', 'P20_RP_CCCOLL', 'P20_RP_CCIND', 'P20_RP_CINDELEC', 'P20_RP_ELEC', 'P20_RP_EAUCH', 'P20_RP_BDWC', 'P20_RP_CHOS', 'P20_RP_CLIM', 'P20_RP_TTEGOU', 'P20_RP_GARL', 'P20_RP_VOIT1P', 'P20_RP_VOIT1', 'P20_RP_VOIT2P', 'P20_RP_HABFOR', 'P20_RP_CASE', 'P20_RP_MIBOIS', 'P20_RP_MIDUR', 'C20_RP_HSTU1P', 'C20_RP_HSTU1P_SUROCC']

,IRIS,COM,TYP_IRIS,LAB_IRIS,P20_LOG,P20_RP,P20_RSECOCC,P20_LOGVAC,P20_MAISON,P20_APPART,...,P20_RP_GARL,P20_RP_VOIT1P,P20_RP_VOIT1,P20_RP_VOIT2P,P20_RP_HABFOR,P20_RP_CASE,P20_RP_MIBOIS,P20_RP_MIDUR,C20_RP_HSTU1P,C20_RP_HSTU1P_SUROCC
0,010010000,01001,Z,5,366.185065,328.879202,16.414580,20.891283,356.495590,8.197240,...,285.211762,319.775730,104.749023,215.026707,NaN,NaN,NaN,NaN,334.478609,0.000000
1,010020000,01002,Z,5,175.308079,110.875756,48.920838,15.511485,173.619608,1.688471,...,84.347446,105.755796,45.346914,60.408882,NaN,NaN,NaN,NaN,110.160087,0.000000
2,010040101,01004,H,1,910.485969,782.410125,30.335180,97.740664,328.245461,550.401467,...,536.230867,645.126238,405.771594,239.354644,NaN,NaN,NaN,NaN,632.763662,18.121451

In [6]:
# ---------------------------------------------------------
# 4. HARMONISATION DES IDENTIFIANTS (IRIS, COM, etc.)
# ---------------------------------------------------------

def clean_code(df, col):
    """
    Nettoie un identifiant géographique :
    - convertit en string
    - supprime espaces
    - garde les zéros initiaux
    """
    df[col] = (
        df[col]
        .astype("string")
        .str.strip()
        .str.replace(" ", "", regex=False)
    )
    return df


# --- Harmonisation IRIS pour chaque table selon colonnes détectées ---

iris = clean_code(iris, "code_iris").rename(columns={"code_iris": "IRIS"})
demo = clean_code(demo, "iris").rename(columns={"iris": "IRIS"})
revenus = clean_code(revenus, "IRIS")  # déjà bon
emploi = clean_code(emploi, "CODGEO").rename(columns={"CODGEO": "IRIS"})
logement = clean_code(logement, "IRIS")  # déjà bon

print("Harmonisation terminée. Toutes les tables utilisent désormais la colonne 'IRIS'.")

Harmonisation terminée. Toutes les tables utilisent désormais la colonne 'IRIS'.

In [7]:
# ---------------------------------------------------------
# 5. PRÉPARATION DES DONNÉES SPATIALES (IRIS + QPV)
# ---------------------------------------------------------

# 5.1 Vérification du CRS des géométries IRIS
print("CRS IRIS :", iris.crs)

# Reprojection en Lambert 93 si nécessaire
if iris.crs is None or iris.crs.to_string() != "EPSG:2154":
    iris = iris.to_crs("EPSG:2154")
    print("→ IRIS reprojeté en EPSG:2154")

# 5.2 Vérification du CRS des QPV
print("CRS QPV :", qpv_geo.crs)

if qpv_geo.crs is None or qpv_geo.crs.to_string() != "EPSG:2154":
    qpv_geo = qpv_geo.to_crs("EPSG:2154")
    print("→ QPV reprojeté en EPSG:2154")

# 5.3 Vérification des géométries IRIS
iris["is_valid"] = iris.geometry.is_valid
print("IRIS invalides :", iris["is_valid"].value_counts())

# Correction éventuelle des géométries invalides
iris.loc[~iris["is_valid"], "geometry"] = iris.loc[~iris["is_valid"], "geometry"].buffer(0)

# Nettoyage
iris = iris.drop(columns=["is_valid"], errors="ignore")

print("Préparation spatiale terminée.")

CRS IRIS : EPSG:4326
→ IRIS reprojeté en EPSG:2154
CRS QPV : EPSG:2154
IRIS invalides : is_valid
True    5264
Name: count, dtype: int64
Préparation spatiale terminée.

In [8]:


# ---------------------------------------------------------
# 6. JOINTURE SPATIALE IRIS ↔ QPV
# ---------------------------------------------------------

# Jointure spatiale : quels IRIS intersectent un QPV ?
iris_qpv = gpd.sjoin(
    iris,
    qpv_geo[["code_qp", "lib_qp", "geometry"]],
    how="left",
    predicate="intersects"
)

# Création du flag QPV
iris_qpv["is_qpv"] = iris_qpv["code_qp"].notna().astype(int)

print("Jointure spatiale terminée.")
print(iris_qpv["is_qpv"].value_counts())

Jointure spatiale terminée.
is_qpv
0    3872
1    1571
Name: count, dtype: int64

In [9]:
# ---------------------------------------------------------
# 7. CONSTRUCTION DE LA BASE IRIS ENRICHIE
# ---------------------------------------------------------

# On part de la base spatiale enrichie QPV
base = iris_qpv.copy()

# --- Jointure avec les revenus ---
base = base.merge(
    revenus,
    on="IRIS",
    how="left"
)

# --- Jointure avec l'emploi ---
base = base.merge(
    emploi,
    on="IRIS",
    how="left"
)

# --- Jointure avec le logement ---
base = base.merge(
    logement,
    on="IRIS",
    how="left"
)

# --- Jointure avec la démographie ---
base = base.merge(
    demo.drop(columns="geometry"),  # on évite les géométries multiples
    on="IRIS",
    how="left"
)

print("Base IRIS enrichie construite.")
print("Shape :", base.shape)
print("Colonnes :", len(base.columns))

Base IRIS enrichie construite.
Shape : (5443, 305)
Colonnes : 305

In [10]:
# ---------------------------------------------------------
# 8. NETTOYAGE FINAL & SÉLECTION DES VARIABLES UTILES
# ---------------------------------------------------------

iris_enrichi = base.copy()

# 8.1 Suppression des colonnes dupliquées
iris_enrichi = iris_enrichi.loc[:, ~iris_enrichi.columns.duplicated()]

# 8.2 Suppression des colonnes géométriques multiples (si présentes)
if "geometry_y" in iris_enrichi.columns:
    iris_enrichi = iris_enrichi.drop(columns=["geometry_y"], errors="ignore")

if "geometry_x" in iris_enrichi.columns:
    iris_enrichi = iris_enrichi.rename(columns={"geometry_x": "geometry"})

# 8.3 Vérification des valeurs manquantes
missing = iris_enrichi.isna().mean().sort_values(ascending=False)

print("Nettoyage terminé.")
print("Shape final :", iris_enrichi.shape)
print("Colonnes :", len(iris_enrichi.columns))

Nettoyage terminé.
Shape final : (5443, 305)
Colonnes : 305

In [11]:
# ---------------------------------------------------------
# 8. PASSAGE IRIS → QPV (AGRÉGATIONS)
# ---------------------------------------------------------

# On garde uniquement les IRIS en QPV
iris_qpv_only = iris_enrichi[iris_enrichi["is_qpv"] == 1].copy()

print("IRIS en QPV :", iris_qpv_only.shape[0])

# Variables numériques à agréger
vars_num = iris_qpv_only.select_dtypes(include=["float64", "int64"]).columns

# Agrégation au niveau QPV (moyenne par défaut)
qpv_indicateurs = (
    iris_qpv_only
    .groupby(["code_qp", "lib_qp"], as_index=False)[vars_num]
    .mean()
)

print("Table QPV construite.")
print("Shape :", qpv_indicateurs.shape)
display(qpv_indicateurs.head())

IRIS en QPV : 1571
Table QPV construite.
Shape : (298, 252)

,code_qp,lib_qp,index_right,is_qpv,NOTE,ABCDE,ABCDE_H,ABCDE_F,ABC,ABC_H,...,pop_15_ans_ou_plus_retraites,men_fam_monoparentale,pop_15_ans_ou_plus_non_scol_cap_bep,fam_4_enfants_ou_plus_moins_25_ans,residences_principales,fam_0_enfant_moins_25_ans,population_des_menages,familles_monoparentales,femme_15_64_ans,pop_25_39_ans
0,QN07501M,Bédier - Boutroux - Villa d'Este,919.0,1.0,0.428571,229.800000,123.400000,106.400000,214.600000,134.00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,QN07502M,Chaufourniers,920.0,1.0,0.000000,267.666667,136.666667,131.000000,245.666667,125.00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,QN07503M,Kellermann - Paul Bourget,921.0,1.0,0.000000,305.571429,150.285714,155.285714,282.714286,140.00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,QN07504M,Oudiné - Chevaleret,922.0,1.0,0.000000,240.000000,128.000000,112.000000,222.200000,130.75,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,QN07505I,Didot - Porte de Vanves,923.0,1.0,0.000000,247.500000,127.500000,120.000000,226.500000,116.00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [12]:
# ---------------------------------------------------------
# 9. ANALYSE DESCRIPTIVE : QPV OCCITANIE
# ---------------------------------------------------------

print("Nombre de QPV en Occitanie :", qpv_indicateurs.shape[0])

# Sélection des variables numériques
vars_num_qpv = qpv_indicateurs.select_dtypes(include=["float64", "int64"]).columns

# Statistiques descriptives globales
desc_qpv = qpv_indicateurs[vars_num_qpv].describe().T

print("\nStatistiques descriptives globales des QPV :")
display(desc_qpv.head(15))

# Identification des variables les plus variables (écarts importants)
variabilite = (desc_qpv["max"] - desc_qpv["min"]).sort_values(ascending=False)

print("\nVariables présentant les plus fortes disparités entre QPV :")
display(variabilite.head(20))

Nombre de QPV en Occitanie : 298

Statistiques descriptives globales des QPV :

,count,mean,std,min,25%,50%,75%,max
index_right,298.0,1183.986577,130.007588,919.000000,1138.250000,1212.500000,1286.750000,1361.0
is_qpv,298.0,1.000000,0.000000,1.000000,1.000000,1.000000,1.000000,1.0
NOTE,296.0,0.066296,0.214445,0.000000,0.000000,0.000000,0.000000,1.5
ABCDE,295.0,310.004734,93.229335,122.000000,252.041667,294.750000,351.083333,758.0
ABCDE_H,294.0,161.733256,53.665505,71.000000,128.000000,150.142857,184.714286,470.0
ABCDE_F,294.0,150.326475,42.483946,75.000000,122.700000,142.666667,169.150000,332.0
ABC,294.0,281.351159,85.377619,129.000000,227.100000,267.625000,318.318182,703.0
ABC_H,293.0,149.750659,50.541351,59.000000,118.285714,137.941176,171.000000,439.0
ABC_F,293.0,139.374229,38.681219,66.666667,113.250000,133.200000,158.000000,304.0
A,294.0,180.409816,54.040957,72.000000,144.812500,172.550000,205.562500,461.0
A_H,293.0,96.281948,31.210036,34.000000,76.000000,90.800000,110.250000,256.5
A_F,293.0,89.058747,25.047771,37.666667,73.333333,85.666667,101.666667,206.0
ABC_25,293.0,38.451431,12.447096,15.000000,30.400000,36.307692,44.666667,94.0
ABC_25_H,291.0,20.832352,7.253647,7.000000,16.000000,19.900000,24.069444,59.0
ABC_25_F,291.0,19.257450,7.432818,6.000000,14.970588,18.000000,22.000000,73.0

Variables présentant les plus fortes disparités entre QPV :

P20_ANEM_RP            45879.872360
P20_ANEM_RP_PROP       40045.300509
P20_ANEM_RP_LOCHLMV    14797.863448
P20_ANEM_RP_LOC        14673.600778
P20_NBPI_RP            12078.967172
P20_NBPI_RPMAISON       7409.299264
P20_NPER_RP             7285.287703
P20_PMEN                7285.287703
P20_NBPI_RP_ANEM10P     6767.245495
P20_NBPI_RPAPPART       5378.975735
P20_NPER_RP_PROP        5294.306572
P20_NPER_RP_LOC         3898.338767
P20_PMEN_ANEM10P        3454.065983
P20_LOG                 3302.630288
P20_RP                  3037.986576
P20_MEN                 3037.986576
P20_APPART              3027.429216
C20_RP_HSTU1P           2954.202367
P20_RP_SDB              2939.881011
P20_RP_ACHTOT           2868.226626
dtype: float64

In [13]:
# ---------------------------------------------------------
# 9 bis. INDICATEURS CLÉS POUR LES QPV (VERSION LISIBLE)
# ---------------------------------------------------------

# Sélection d’un sous-ensemble d’indicateurs pertinents
indicateurs = {
    "MED14": "revenu_median",
    "TP60": "taux_pauvrete",
    "C14_ACT15P_CHOM": "taux_chomage",
    "C20_RP_HSTU1P": "logements_suroccupes",
    "P20_LOG": "nb_logements",
    "P20_RP": "nb_residences_principales",
    "P20_PMEN": "nb_menages",
    "P20_NPER_RP": "nb_personnes",
    "C20_POP1524": "pop_15_24",
    "C20_POP65P": "pop_65_plus",
}

# On garde uniquement les colonnes présentes
indicateurs = {k: v for k, v in indicateurs.items() if k in qpv_indicateurs.columns}

qpv_cle = qpv_indicateurs[["code_qp", "lib_qp"] + list(indicateurs.keys())].rename(columns=indicateurs)

print("Tableau d'indicateurs clés QPV construit.")
display(qpv_cle.head())

Tableau d'indicateurs clés QPV construit.

,code_qp,lib_qp,logements_suroccupes,nb_logements,nb_residences_principales,nb_menages,nb_personnes
0,QN07501M,Bédier - Boutroux - Villa d'Este,746.076541,1021.012256,937.723789,1954.986624,1954.986624
1,QN07502M,Chaufourniers,921.318123,1352.336977,1087.515271,2269.511294,2269.511294
2,QN07503M,Kellermann - Paul Bourget,1256.674869,1683.497631,1487.698170,2984.473708,2984.473708
3,QN07504M,Oudiné - Chevaleret,1000.646270,1529.272247,1384.878321,2664.281376,2664.281376
4,QN07505I,Didot - Porte de Vanves,980.149239,1299.748231,1091.956827,2053.110793,2053.110793